:root {
    --dark-button: darkslateblue;
    --light-button: rgb(111, 95, 214);
}

* {
    box-sizing: border-box;
}

main {
    margin: 50px;

    display: flex;
    justify-content: center;
}

/*
 *  The header contains two elements: the link to view highscores on the left and the timer on the right
 */
header {
    width: 100%;
    height: 60px;

    font-size: 18px;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#highscores-link {
    font-weight: bold;
    font-size: 20px;

    color: var(--dark-button);
}

.content-section {
    width: 40%;
}

#splash-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-header {
    margin: 5px;
    padding: 5px;

    text-align: center;

    line-height: 125%;

    font-size: 52px;
    font-weight: bold;
}

.splash-subheader {
    margin: 5px;
    padding: 5px;

    line-height: 150%;

    font-size: 24px;

    text-align: center;
}

.round {
    padding: 5px;
    border: 0;
    margin: 5px;

    border-radius: 10px;

    background-color: var(--dark-button);
    color: white;
}

.round:hover {
    background-color: var(--light-button);
    cursor: pointer;
}

.question-prompt {
    padding: 5px;
    margin: 5px;

    font-size: 44px;
    font-weight: bold;

    line-height: 150%;
}

.answer-button {
    margin: 10px;

    margin-left: 30px;

    display: block;
}

.correctness {
    padding: 10px;
    margin: 10px;

    margin-top: 30px;

    font-style: italic;
    font-size: 24px;

    border-top: thick solid gray;
}

.done-section-header {
    font-weight: bold;
    font-size: 44px;

    padding: 10px;
    margin: 10px;
}

.score-text {
    padding: 10px;
    margin: 10px;

    font-size: 18px;
}

.submit-initials-form {
    padding: 10px;
    margin: 10px;
}

.submit-initials-label {
    padding: 5px;
}

#submit-initials-button {
    margin: 5px;
}

#initials {
    padding: 5px;
}

.highscores-header {
    margin: 5px;
    padding: 5px;

    font-size: 48px;
    font-weight: bold;
}

.highscore {
    padding: 5px;
    margin: 5px;

    line-height: 150%;

    background-color: beige;
}

#highscores-button {
    border: 0;

    font-size: 20px;
    font-weight: bold;

    background-color: white;
    color: var(--dark-button);
}

#highscores-button:hover {
    color: var(--light-button);
    cursor: pointer;
}

.submission-error-text {
    padding: 10px;
    margin: 10px;
    font-style: italic;
    color: red;
    line-height: 125%;
}

@media screen and (max-width: 992px) {
    .content-section {
        width: 70%;
    }
}

/* TABLET PORTRAIT */
@media screen and (max-width: 768px) {
    .content-section {
        width: 100%;
    }
}

/* MOBILE PHONE DISPLAY */
@media screen and (max-width: 520px) {
    main {
        margin: 20px;
    }

    .splash-header {
        font-size: 44px;
    }

    .splash-subheader {
        font-size: 22px;
    }


    .question-prompt {
        font-size: 36px;
        line-height: 125%;
    }

    .correctness {
        margin-top: 30px;
        font-size: 20px;
    }

    .done-section-header {
        padding: 5px;
        margin: 5px;
    }
    
    .score-text {
        padding: 5px;
        margin: 5px;
    
        font-size: 18px;
    }
    
    .submit-initials-form {
        padding: 5px;
        margin: 5px;
    }

    .submit-initials-label {
        padding: 0;
    }
    
    #submit-initials-button {
        margin: 0;
    }
    
    #initials {
        padding: 0;
    }

    .submission-error-text {
        padding: 5px;
        margin: 5px;

        font-size: 14px;
    }

    #highscores-button {
        font-size: 18px;
    }
}