:root {
    --dark: darkslateblue;
}

* {
    box-sizing: border-box;
}

/*
 *  The header contains two elements: the link to view highscores on the left and the timer on the right
 */
header {
    width: 100%;
    height: 50px;

    font-size: 18px;

    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#highscores-link {
    font-weight: bold;
    font-size: 20px;

    color: var(--dark);
}

#splash-page {
    margin: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 5px;
    padding: 5px;

    font-size: 52px;
    font-weight: bold;
}

h2 {
    margin: 5px;
    padding: 5px;

    width: 50%;

    line-height: 150%;

    font-size: 24px;

    text-align: center;
}

button {
    padding: 5px;
    border: 0;
    margin: 5px;

    border-radius: 10px;

    background-color: var(--dark);
    color: white;
}

.question-section {
    margin-top: 50px;

    margin-left: 20%;
}

.question-prompt {
    width: 50%;

    padding: 5px;
    margin: 5px;

    font-size: 44px;
    font-weight: bold;

    line-height: 150%;
}

.answer-button {
    margin: 10px;

    margin-left: 30px;

    display: block;
}

.correctness {
    width: 50%;

    padding: 10px;
    margin: 10px;

    margin-top: 30px;

    font-style: italic;
    font-size: 24px;

    border-top: thick solid gray;
}

.done-section {
    margin-top: 50px;

    margin-left: 20%;
}

.done-section-header {
    font-weight: bold;
    font-size: 44px;

    padding: 10px;
    margin: 10px;
}

.score-text {
    padding: 10px;
    margin: 10px;

    font-size: 18px;
}

.submit-initials-form {
    padding: 10px;
    margin: 10px;
}

.submit-initials-label {
    padding: 5px;
}

#submit-initials-button {
    margin: 5px;
}

#initials {
    padding: 5px;
}